<div>
  <div class="container">
    <app-first-component></app-first-component>
  </div>
  <div class="container">
    <app-parent-data [name]="name"></app-parent-data>
  </div>
  <div class="container">
    <app-if-render></app-if-render>
  </div>
  <div class="container">
    <app-events></app-events>
  </div>
  <div class="container">
    <app-emitter></app-emitter>
  </div>
  <div class="container">
    <app-list-render></app-list-render>
  </div>
  <div class="container">
    <app-pipes></app-pipes>
  </div>
  <div class="container">
    <app-two-way-binding></app-two-way-binding>
  </div>
</div>
